*.swp
.deps/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
autoscan.log
*.tar.gz
compile
config.h
config.h.in
config.log
config.status
configure
configure.scan
debug.log
depcomp
install-sh
missing

